*{
    margin: 0;
    padding: 0;
}
:root {
    --background: #010104;
    --accent: #0600c2;
    --primary: #3a31d8;
    --secondary: #020024;
    --text: #ffff;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #FFFF;
}
#1_section{
    height: 100%;
    width: 100%;
    background-color: var(--background);

    #textGit{
        color: #000;
        font-family: Inter;
        font-size: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #basics{
        color: #2F27CE;
        font-family: Inter;
        font-size: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #StyleEm1{
        border-radius: 511px;
        background: #443DFF;
        filter: blur(125px);
    }
    

}
