*{
    margin: 0;
    padding: 0;
}
:root {
    --background: #ffff;
    --accent: #0600c2;
    --primary: #3a31d8;
    --secondary: #020024;
    --text: #ffff;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #FFFF;
}
#first_section{
    height: 100%;
    width: 100%;
    background-color: var(--background);

    #textGit{
        color: #000;
        font-family: Inter;
        font-size: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #basics{
        color: #2F27CE;
        font-family: Inter;
        font-size: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #navWrapper{
        color: #000;
        text-align: right;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: flex;
        flex-direction: column;
        .nav_element{

        }
    }

    #StyleEm1{
        border-radius: 511px;
        background: #443DFF;
        filter: blur(125px);
        width: 511px;
        height: 488px;
        flex-shrink: 0;
    }

    #StyleEm2{
        border-radius: 615px;
        background: #282566;
        filter: blur(125px);
        width: 615px;
        height: 597px;
        flex-shrink: 0;
    }
    #StyleEm3{
        width: 512px;
        height: 487px;
        flex-shrink: 0;
        border-radius: 512px;
        background: #5B56B2;
        filter: blur(125px);
    }
    #wrapheader{
        display: flex;
        flex-direction: column;
    }


}
